*, *::before, *::after{
    box-sizing: border-box;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
   padding: 0;
   margin: 0;

}
.jumbotron {
    background-color: bisque;
}
#question-box {
    width: 800px;
    max-width: 90%;
    background-color: peru;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-size: 20px;
    display: none;
   
}
#message-box {
    width: 800px;
    max-width: 90%;
    background-color: peru;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-size: 20px;
    display: none;


}
button{
    padding: 20px;
    border-radius: 60px;
    display: inline;
    margin-right: 0px;
   

}
li{
    padding: 20px;
    text-decoration: none;
}
.btn-primary{
    background-color: peru;
    border-color: peru;
    /* visibility: hidden; */
}
a {
    color: #000;
    font-size: 40px;
    
    
}