* {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background: peru; */

}
.jumbotron{
    background: peachpuff;
   
}
.btn-primary{
    background-color: peru;
    border-color: peru;
}
nav {
    background-color: peru;
}
.nav-link {
    background-color: peachpuff;
    border: peru;
}
a {
    color: #000;
    font-size: 40px;
    
    
}