*, *::before, *::after{
    box-sizing: border-box;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
   padding: 0;
   margin: 0;

}
.jumbotron {
    background-color: bisque;
}
#question-box {
    width: 100%;
    background-color: peru;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-size: 20px;
    display: none;
    /* text-align: center; */
    justify-content: center;
   
}
#message-box {
    width: 50%;
    border-radius: 5px;    
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-size: 30px;
    display: none;
    /* text-align: center; */
    justify-content: center;

}
#done-msg{
    font-size: 40px;
}
#score-msg, #name-msg, #enter-name{
    font-size: 30px;
    padding: 10px;
}
#submit-btn{
    background-color:  peru;
    font-size: 30px;
}
.inputHighscore{
    font-size: 30px;
}
button{
    padding: 10px;
    border-radius: 300px;
    display: inline;
    margin-right: 0px;

}
li, ul{
    padding: 20px;
    text-decoration: none;
}
.btn-primary{
    background-color: peru;
    border-color: peru;
    /* visibility: hidden; */
}
a {
    color: #000;
    font-size: 40px;
   
}
p {
    text-align: center;
}
#all-done{
    width: 400px;
    height: 400px;
    border: crimson;
}
/* p > .listMsg {
    text-align: center;
} */